body {
  background-color: rgb(250, 250, 250);
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.image {
  width: 350px;
  margin-top: 50px;
}
.link {
  margin-top: 50px;
  font-family: monospace;
  text-decoration: none;
  text-align: center;
  width: 100%;
  background-color: black;
  color: white;
  padding: 20px 0;
}

@media only screen and (max-width: 770px) {
  .container {
    margin: 0 10%;
  }

  .image {
    width: 100%;
  }
}
